* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: rgb(51, 25, 53);
$mainGreen: #ff80ff;
$mainWhite: #fff;
$mainGrey: #ffe8fe;

body {
  font-family: "Open Sans", sans-serif;
  background: $mainWhite;
  color: $mainBlack;
}
